.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    /* background-color: black; */
}
.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    
    /* background-color: gray; */
}
.auth form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px red;
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 235, 235);
}
.auth form h1{
    text-align: center;

}
.auth form label{
    font-size: 24px;
    color:black;

}
.auth form input{
    margin-bottom: 10px;
    padding:10px;
    font-size: 14px;
    
}
.auth form button{
    margin-top: 10px;
    background-color: red;
    color:white;
    border:none;
    padding:10px;
    font-size: 18px;
    &:hover{
        background-color: white;
        color:red;
        border:2px solid red;
    }
}
.auth form a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}